* {
  box-sizing: border-box;
  margin: 0 ;
  padding: 0;
}

.container{
  /* border: 1px solid black; */
  width: 90%;
  margin: auto;
  text-align: center;
}

.row{
  margin-bottom: 20px;
  /* background-color: red; */
}

.box{
  display: inline-block;
  position: relative;
}

.discount{
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
}
/* così se aggiungo un prodotto prima non funziona prima, è più semplice dando più classi e sovrascrivendo il background */
div:nth-child(2) .discount{
  background-color: red;
}

.heart{
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
  /* left: 50%; */
  color: red;
  font-size: 30px;
}
/* position:absolute toglie dal flusso e fa perdere la largezza del div --> metto width 100% che sarebbe il 100% del contenitore .box*/

.box:hover > .heart{
  display: block;
}
